body {
      font-family: sans-serif;
      background: rgb(255, 255, 255);
}

#sitewrapper {
  margin: auto; 
  width: 100%;
  padding: 0px;
  border-style: solid;
  border-width: 0px;
  border-color: #293F95;
  border-radius: 0px;
  padding: 0px;
}

.topnav {
  overflow: auto;
  background-color: #333;
}

.topnav a {
  float: center;
  color: #ffffff;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 30px;
}
 
.topnav a:hover {
  background-color: #F8E0DB;
  color: black;
}

.topnav a.active {
  background-color: #989898;
  color: white;
}

h1 {
  text-align:center;
}

ul {
  width: 60%;
}
